{#- 
Template: sequencing_draft.ldt.ttl.j2 
Description: 
Input: 
    - sequencing-data/shipment/batch-X/run-information-batch-X.csv
Sets:   
    - sequencing-data/shipment/batch-X/properties-batch-X.yml as batch
    - sequencing-data/shipment/batch-X/ena-accession-numbers-batch-X.csv as enanumbers
-#}

{%- if ctrl.isFirst %}
{%- include 'includes/prefixes.ttl' %}
{%- endif %}
@prefix: seq: <http://xmlns.com/foaf/0.1/> .

@base <{{baseref}}/emobon/sequencingActivity/{{obs}}/{{env}}/{{source_mat_id}}> . {# baseref ~ http://data.emobon.embrc.eu #}

<>
    a seq:SequencingRun, prov:Activity ; 
    schema:name {{_.run | xsd("string") | safe }}  ;
    {#associated sample#}
    prov:used [
        a sosa:Sample, prov:Entity ;
        dct:identifier <{{baseref}}/emobon/sample/{{obs}}/{{env}}/{{source_mat_id}}> ;
        dct:identifier {{ _.source_mat_id_an | xsd("string") }} ;
        dct:identifier {{ _.ref_code_seq | xsd("string") }} ;
        dct:identifier {{ _.ref_code | xsd("string") }} ;
        emobon:enaSampleAccNum {{ enanumbers.ena_accession_number_sample | xsd("string") }} ;
        emobon:enaProjAccNum {{ enanumbers.ena_accession_number_project | xsd("string") }} ;
        emobon:enaStudyAccNum {{ enanumbers.ena_accession_number_umbrella | xsd("string") }} ;
        emobon:enaBioSampleAccNum {{ enanumbers.biosamples_accession_number | xsd("string") }} ;
    ] ; 
    {#-ENA accession numbers#}
    emobon:enaSampleAccNum {{ enanumbers.ena_accession_number_sample | xsd("string") }} ;
    emobon:enaProjAccNum {{ enanumbers.ena_accession_number_project | xsd("string") }} ;
    emobon:enaStudyAccNum {{ enanumbers.ena_accession_number_umbrella | xsd("string") }} ;
    emobon:enaBioSampleAccNum {{ enanumbers.biosamples_accession_number | xsd("string") }} ;
    emobon:enaRunAccNum {{ ?.run_accession_number }} ;

    {#resulting sequence files#}
    prov:generated {{ _.reads_name | xsd("string") }} ;
    prov:generated {{ _.mock_pr | xsd("string") }} ;
    prov:generated {{ _.mock_eu | xsd("string") }} ;
    
    {#sop#}
    seq:sop {{ _.sop | xsd("anyURI") }} ; 
    {#electronicResource#}
    prov:used {%- for url in _.electronicResource %}{{url | xsd("anyURI") }}{% if not loop.last%}, {% endif %};{%- endfor %}
    
    {#other information#}
    seq:targetGene {{ _.target_gene | xsd("string") }} ; 
    seq:targetSubfragment {{ _.target_subfragment | xsd("string") }} ;
    seq:libLayout {{ _.lib_layout | xsd("string") }} ; 
    seq:analysisWorkflow {{ _.analysis | xsd("string") }} ; 
    seq:nucleidAcidExtractionSource {%for url in _.nucl_acid_ext.split(';')%}{{ url | xsd("anyURI") }}{% if not loop.last%}, {% endif %};{%endfor%}
    seq:nucleidAcidAmplificationSource {%for url in _.nucl_acid_amp.split(';')%}{{ url | xsd("anyURI") }}{% if not loop.last%}, {% endif %};{%endfor%}
    seq:countOfReads {{ _.lib_reads_seqd | xsd("integer")}} ;
    seq:seqMethod {{ _.seq_meth | xsd("string")}} ;
    seq:seqQuality {{ _.seq_quality_check | xsd("string")}} ;
    seq:adapters {{ _.adapters | xsd("string")}} ;
    seq:multiplexID {{ _.mid | xsd("string")}} ;
    
    {#Batch information#}
    seq:associatedBatch </emobon/sequencingActivity/{{obs}}/{{env}}/{{batchNumber}}> ; 

    {#prc part#}
    seq:pcrPrimers {{ _.pcr_primers | xsd("string") }} ;
    seq:prcConditions {{ _.prc_cond | xsd("string") }} ;

    {#DNA Analysis part#}
    seq:dcaConcentration [
        a sosa:Observation ; 
        sosa:userProcedure {{ _.dna_conc_method | xsd("string") }} ;
        sosa:hasResult [
            a sosa:Result, qudt:QuantityValue ; 
            qudt:numericValue {{ _.dna_conc | xsd("double") }} ;
            qudt:unit "nanograms per microliter (ng/µm)"^^xsd:string ;
        ] ;
    ] ; 
    seq:dcaQuantity [
        a sosa:Observation ;
        sosa:hasResult [
            a sosa:Result, qudt:QuantityValue ; 
            qudt:numericValue {{ _.dna_quant | xsd("double") }} ;
            qudt:unit "nanograms (ng)"^^xsd:string ;
        ] ;
    ] ; 
.

</emobon/sequencingActivity/{{obs}}/{{env}}/{{batchNumber}}>
    a seq:Batch ;
    seq:batchNumber {{ batchnumber | xsd("integer") }} ;
    dct:identifier {{ batchnumber | xsd("integer") }} ;
    seq:processingReady {{ batch.ready_for_processing | xsd("boolean") }} ;
    seq:productionDeployment {{ batch.production_deployment | xsd("boolean") }} ;
    
    seq:shippingDate {{ batch.shipping_date | xsd("date") }} ;
    seq:arrivalDate {{ batch.arrival_date | xsd("date") }} ;
    seq:Sender [
        a schema:Organization ; 
        schema:name {{ batch.shipper | xsd("string") }} ;
    ] ;
    seq:Sender [
        a schema:Organization ; 
        schema:name {{ batch.receiver | xsd("string") }} ;
    ] ; 
        
    seq:status {{ batch.status | xsd("string") }} ;
    rdfs:comment {{ batch.comment | xsd("string") }} ;

    seq:associatedSample <{{baseref}}/emobon/sample/{{obs}}/{{env}}/{{source_mat_id}}> ;
.