{#- 
Template: water_observatory.ldt.ttl.j2 
Description: Template to generate triples from water_observatory.csv data collected in context of EMOBON. 
Input: 
    - observatory-{obs_id}-crate/logsheets-transformed/water_observatory.csv
-#}

{% include 'includes/prefixes.ttl' %}

@base <{{baseref}}/observatory-{{_.obs_id|lower}}-crate/{{_.env_package}}/observatory/{{_.obs_id}}> . {# baseref ~ http://data.emobon.embrc.eu #}

<> 
    a emobon:Observatory ;
    {%- if _.wa_id %} {# water #}
    emobon:sampleType emobon:Water ;
    {%- elif _.so_id %} {# sediment #}
    emobon:sampleType emobon:Soil ;
    {%- elif _.ha_id %} {# hard bottom --> make different template #}
    emobon:sampleType emobon:Hard ;
    {%- endif %}

    {%- if _.obs_id != "NA" %}
    emobon:observatoryId {{ _.obs_id | xsd("string") | safe }} ; 
    {%- endif %}
    {%- if _.wa_id != "NA" or _.so_id != "NA" or _.se_id != "NA" %}
    emobon:observatorySampleId {{ (_.wa_id or _.so_id or _.se_id) | xsd("string") | safe }} ; {#alert: column name differs between observatory types #} 
    {%- endif %}

    dct:isPartOf [
        a schema:Project ; 
        {%- if _.project_name != "NA" %}
        schema:name {{_.project_name | xsd("string") | safe }} ; 
        {%- endif %}
        schema:description "The EMO BON project"^^xsd:string ; 
        {%- if _.ENA_accession_number_umbrella != "NA" %}
        emobon:enaProjAccNum {{_.ENA_accession_number_umbrella | xsd("anyURI") | safe }} ; 
        {%- endif %}
    ] ; 
    {%- if _.extra_site_info != "NA" %}
    emobon:siteInfo {{ _.extra_site_info | xsd("string") | safe }} ; 
    {%- endif %}
    {%- if _.env_broad_biome != "NA" %}
    emobon:broadBiome {% for item in _.env_broad_biome.split(';') %} {{item.strip() | xsd("string") | safe }}{{ ", " if not loop.last else "" }}{%endfor%};
    {%- endif %}
    {%- if _.env_local != "NA" %}
    emobon:localBiome {% for item in _.env_local.split(';') %}{{item.strip() | xsd("string") | safe }}{{ ", " if not loop.last else "" }}{% endfor %};
    {%- endif %}

    {#- marine region info #}
    {%- if _.loc_broad_ocean != "NA" %}
    emobon:marineRegionName {{_.loc_broad_ocean | xsd("string") | safe }} ; 
    {%- endif %}
    {%- if _.loc_broad_ocean_mrgid != "NA" %}
    emobon:marineRegion {{_.loc_broad_ocean_mrgid | xsd("anyURI") | safe }} ; 
    {%- endif %}
    {%- if _.loc_regional != "NA" %}
    emobon:marineRegionName {{_.loc_regional | xsd("string") | safe }} ; 
    {%- endif %}
    {%- if _.loc_regional_mrgid != "NA" %}
    emobon:marineRegion {{_.loc_regional_mrgid | xsd("anyURI") | safe }} ; 
    {%- endif %}
    {%- if _.loc_loc != "NA" %}
    emobon:marineRegionName {{_.loc_loc | xsd("string") | safe }} ; 
    {%- endif %}
    {%- if _.loc_loc_mrgid != "NA" %}
    emobon:marineRegion {{_.loc_loc_mrgid | xsd("anyURI") | safe }} ; 
    {%- endif %}

    {%- if _.latitude != "NA" and _.longitude != "NA" %}
    emobon:geoLocation [ 
        a sf:Point ; 
        geo:asWKT "<http://www.opengis.net/def/crs/OGC/1.3/CRS84> Point ({{_.latitude}} {{_.longitude}})" ;
    ]; 
    {%- endif %}

    {%- for item in _.organization.split(';') %} {# assumptions: lists of equal length & ';'-separated #}
    schema:contactPoint [ 
        a emobon:Organization ; 
        {%- if item != "NA" %}
        schema:legalName {{ item.strip() | xsd("string") | safe }} ; 
        {%- endif %}
        {%- if _.organization_edmoid != "NA" %}
        emobon:edmoId {{ _.organization_edmoid.split(';')[loop.index0].strip() | xsd("anyURI") | safe }} ; 
        {%- endif %}
        schema:address [
            a schema:PostalAddress ;
            {%- if _.organization_country != "NA" %}
            schema:addressCountry {{ _.organization_country | xsd("string") | safe }} ; 
            {%- endif %}
            {#- schema:postalCode {{}} ; #} 
            {#- schema:streetAddress {{}} ; #}
        {%- if loop.index0 == 0 and (_.contact_name or _.contact_email or _.contact_orcid) %} {# assumption: contact person always linked to the first institute #}
        schema:member [
            a schema:Person ; 
            {%- if _.contact_name != "NA" %}
            schema:name {{ _.contact_name | xsd("string") | safe }} ; 
            {%- endif %}
            {%- if _.contact_email != "NA" %}
            schema:email {{ _.contact_email | xsd("string") | safe }} ; 
            {%- endif %}
            {%- if _.contact_orcid and _.contact_orcid != "NA" %}
            schema:identifier {{_.contact_orcid | xsd("anyURI") | safe }} ;
            {%- endif %}
        ]
        {%- endif %}
        ] ; 
    ] ; 
    {%- endfor %}
    
    {#- emobon ontology extension predicates #}
    {%- if _.tot_depth_water_col != "NA" %}
    emobon:waterColumnDepth {{_.tot_depth_water_col | xsd("integer") | safe }} ; {#- usefull to also connect to sampling_event/sample #} 
    {%- endif %}
    {%- if _.geo_loc_name != "NA" %}
    emobon:originCountry {{_.geo_loc_name | xsd("string") | safe }} ; {#- usefull to also connect to sampling_event/sample #}    
    {%- endif %}
    {%- if _.ENA_accession_number_project != "NA" %}
    emobon:enaStudyAccNum {{_.ENA_accession_number_project | xsd("anyURI") | safe }} ; 
    {%- endif %}
    {%- if _.env_package != "NA" %}
    emobon:hasMixsPackage {{_.env_package | xsd("string") | safe }} ; {#double check w/ Katrina whether column is correct #}
    {%- endif %}
.

{# marine regions hierarchy statements #}
<{{uritexpand("http://marineregions.org/mrgid/{loc_broad_ocean_mrgid}", _)}}>
    mr:contains <{{uritexpand("http://marineregions.org/mrgid/{loc_regional_mrgid}", _)}}> ;
.

<{{uritexpand("http://marineregions.org/mrgid/{loc_regional_mrgid}", _)}}>
    mr:contains <{{uritexpand("http://marineregions.org/mrgid/{loc_loc_mrgid}", _)}}> ;
    mr:isPartOf <{{uritexpand("http://marineregions.org/mrgid/{loc_broad_ocean_mrgid}", _)}}> ; 
.

<{{uritexpand("http://marineregions.org/mrgid/{loc_loc_mrgid}", _)}}>
    mr:isPartOf <{{uritexpand("http://marineregions.org/mrgid/{loc_regional_mrgid}", _)}}> ;
.
