name: linked-data-etl
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 */6 *'
jobs:
  job:
    runs-on: ubuntu-latest
    env:
      ROCRATE_PROFILE_URI: https://data.emobon.embrc.eu/observatory-profile/0.27
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: download
        uses: emo-bon/logsheet-downloader-action@master
      - name: git-auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update on behalf of logsheet-downloader-action
      - name: data-quality-control-action
        uses: emo-bon/data-quality-control-action@main
        env:
          PAT: ${{ secrets.PAT }}
          REPO: ${{ github.repository }}
          ASSIGNEE: bulricht
      - name: git-auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update on behalf of data-quality-control-action
      - name: rocrate-sembench-setup
        uses: vliz-be-opsci/rocrate-sembench-setup@main
        env:
          PROFILE: ${{ env.ROCRATE_PROFILE_URI }}
      - name: git-auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update on behalf of (debugging)
      - name: semantic-uplifting-action
        uses: emo-bon/semantic-uplifting-action@main
      - name: git-auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update on behalf of semantic-uplifting-action
      - name: rocrate-metadata-generator-action
        uses: emo-bon/rocrate-metadata-generator-action@main
        env:
          PROFILE: ${{ env.ROCRATE_PROFILE_URI }}
          REPO: ${{ github.repository }}
      - name: git-auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update on behalf of rocrate-metadata-generator-action
      - name: rdf-aggregate-action
        uses: vliz-be-opsci/rdf-aggregate-action@main
        env:
          GLOBS: sediment/**/*:ttl|water/**/*:ttl|ro-crate-metadata.json:json-ld
      - name: git-auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update on behalf of rdf-aggregate-action
      - name: rocrate-to-pages
        uses: vliz-be-opsci/rocrate-to-pages@latest
        with:
          multiple_rocrates: true
          release_management: false
          include_draft: false
          index_html: false
      - name: actions-gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./unicornpages
